
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
h1 {
    margin: 0;
}

header {
    text-align: center;
    display: flex;
    justify-content: center; 
    gap: 20px; 
    background-color: #0a0a0a; 
    padding: 10px;
}

header p {
    color: white;
    font-family:Arial, Helvetica, sans-serif
}

.principal a {
    color: white;
    text-decoration: none;
}
.principal a {
    color: white;
    text-decoration: none;
    
}.principal {
    color: white;
    text-decoration: none;
    padding: 10px 20px; /* Para darle un área de clic más grande */
    border-radius: 5px; /* Para redondear las esquinas del recuadro */
    transition: background-color 0.3s, color 0.3s; /* Animación suave al hacer hover */
}

.principal:hover {
    background-color: white; /* Fondo blanco cuando se pasa el cursor */
    color: black; /* Texto negro cuando se pasa el cursor */
}
