* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-image: url("../imagenes/IMG_7719.jpg");
}

.profile-section {
    text-align: center;
    margin-bottom: 30px; /* Incrementa el espacio inferior */
}

.profile-pic {
    width: 120px; /* Agranda la imagen de perfil */
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

h1 {
    font-size: 2.5rem; /* Agranda el tamaño del título */
    margin-bottom: 10px;
}

.profession {
    font-size: 1.4rem; /* Agranda el tamaño de la profesión */
    color: #333;
    margin-bottom: 20px;
}

.social-links a {
    margin: 0 15px; /* Aumenta el margen entre los enlaces */
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem; /* Agranda el tamaño de las fuentes en los enlaces */
}

.links-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-btn {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 15px 25px;
    margin: 5px 0; /* Reduce el espacio vertical entre los enlaces */
    text-decoration: none;
    border-radius: 30px;
    width: 700px;
    height: 60px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    justify-content: center;
    position: relative;
}

.link-btn:hover {
    background-color: #555;
}


.link-icon {
    width: 35px; /* Agranda el icono */
    height: 35px;
    border-radius: 50%;
    margin-left: 15px; 
    transform: translateY(-150%);
}

.link-btn span {
    text-align: center;
}
